In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score,confusion_matrix,r2_score
from sklearn.metrics import mean_absolute_error
from sklearn import preprocessing

In [2]:
def data_preproc(dummy_data):
    clean_data = dummy_data.copy(deep = True)
    clean_data.drop(columns=['Unnamed: 0','New_Price'], inplace=True)
    clean_data.dropna('index',inplace=True)
    clean_data = clean_data.reset_index(drop=True)
    clean_data.shape
    
    names = list(clean_data.Name)    
    for i in range(len(names)):
        names[i]=names[i].split(' ',1)[0]
        clean_data.Name = names
        clean_data.head()
        
    mileage = list(clean_data.Mileage)
    engine = list(clean_data.Engine)
    power = list(clean_data.Power)
    for i in range(len(names)):
        mileage[i] = mileage[i].split(' ',1)[0]
        engine[i] = engine[i].split(' ',1)[0]
        power[i] = power[i].split(' ',1)[0] 
    clean_data.Mileage = mileage
    clean_data.Engine = engine
    clean_data.Power = power
    
    clean_data["Kilometers_Driven"] = clean_data["Kilometers_Driven"].astype(float)
    clean_data["Mileage"] = clean_data["Mileage"].astype(float)
    clean_data["Engine"] = clean_data["Engine"].astype(float)
    
    clean_data = clean_data[clean_data.Seats != 0]
    
    idx = []
    lt = list(clean_data['Power'])
    for i in range(len(lt)):
        if(lt[i] == 'null'):
            idx.append(i)
    clean_data = clean_data.drop(idx)
    clean_data = clean_data.reset_index(drop=True)
    
    clean_data = clean_data[clean_data.Seats != 0]
    
    idx = []
    lt = list(clean_data['Power'])
    for i in range(len(lt)):
        if(lt[i] == 'null'):
            idx.append(i)
    clean_data = clean_data.drop(idx)
    clean_data = clean_data.reset_index(drop=True)

    clean_data['Power'] = clean_data['Power'].astype(float)
    
    clean_data['Year'] = pd.Categorical(clean_data['Year'])
    clean_data['Seats'] = pd.Categorical(clean_data['Seats'])
    clean_data = pd.get_dummies(clean_data, prefix_sep='_', drop_first=True) #문자를 숫자로 바꾸어 One-hot-encoding

    return clean_data

In [3]:
def makex(clean_data):
    x = clean_data.values 
    columns = clean_data.columns # 리스트값으로 열 레이블 반환
    #X값만
    scaler = preprocessing.MinMaxScaler() #최소 최대을 구함
    tmp = scaler.fit_transform(x) 
    clean_data = pd.DataFrame(tmp)
    clean_data.columns = columns
    x = clean_data.to_numpy()
    return x

In [4]:
dummy_train_data = pd.read_csv('./train-data.csv')
dummy_test_data = pd.read_csv('./test-data.csv')

In [5]:
clean_train_data = data_preproc(dummy_train_data)
clean_test_data = data_preproc(dummy_test_data)
print(clean_train_data.info())
print(clean_test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5844 entries, 0 to 5843
Data columns (total 79 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Kilometers_Driven          5844 non-null   float64
 1   Mileage                    5844 non-null   float64
 2   Engine                     5844 non-null   float64
 3   Power                      5844 non-null   float64
 4   Price                      5844 non-null   float64
 5   Name_Audi                  5844 non-null   uint8
 6   Name_BMW                   5844 non-null   uint8
 7   Name_Bentley               5844 non-null   uint8
 8   Name_Chevrolet             5844 non-null   uint8
 9   Name_Datsun                5844 non-null   uint8
 10  Name_Fiat                  5844 non-null   uint8
 11  Name_Force                 5844 non-null   uint8
 12  Name_Ford                  5844 non-null   uint8
 13  Name_Honda                 5844 non-null   uint8
 14  Name_Hyundai               5844 non-null   uint8
 15  Name_ISUZU                 5844 non-null   uint8
 16  Name_Isuzu                 5844 non-null   uint8
 17  Name_Jaguar                5844 non-null   uint8
 18  Name_Jeep                  5844 non-null   uint8
 19  Name_Lamborghini           5844 non-null   uint8
 20  Name_Land                  5844 non-null   uint8
 21  Name_Mahindra              5844 non-null   uint8
 22  Name_Maruti                5844 non-null   uint8
 23  Name_Mercedes-Benz         5844 non-null   uint8
 24  Name_Mini                  5844 non-null   uint8
 25  Name_Mitsubishi            5844 non-null   uint8
 26  Name_Nissan                5844 non-null   uint8
 27  Name_Porsche               5844 non-null   uint8
 28  Name_Renault               5844 non-null   uint8
 29  Name_Skoda                 5844 non-null   uint8
 30  Name_Tata                  5844 non-null   uint8
 31  Name_Toyota                5844 non-null   uint8
 32  Name_Volkswagen            5844 non-null   uint8
 33  Name_Volvo                 5844 non-null   uint8
 34  Location_Bangalore         5844 non-null   uint8
 35  Location_Chennai           5844 non-null   uint8
 36  Location_Coimbatore        5844 non-null   uint8
 37  Location_Delhi             5844 non-null   uint8
 38  Location_Hyderabad         5844 non-null   uint8
 39  Location_Jaipur            5844 non-null   uint8
 40  Location_Kochi             5844 non-null   uint8
 41  Location_Kolkata           5844 non-null   uint8
 42  Location_Mumbai            5844 non-null   uint8
 43  Location_Pune              5844 non-null   uint8
 44  Year_1999                  5844 non-null   uint8
 45  Year_2000                  5844 non-null   uint8
 46  Year_2001                  5844 non-null   uint8
 47  Year_2002                  5844 non-null   uint8
 48  Year_2003                  5844 non-null   uint8
 49  Year_2004                  5844 non-null   uint8
 50  Year_2005                  5844 non-null   uint8
 51  Year_2006                  5844 non-null   uint8
 52  Year_2007                  5844 non-null   uint8
 53  Year_2008                  5844 non-null   uint8
 54  Year_2009                  5844 non-null   uint8
 55  Year_2010                  5844 non-null   uint8
 56  Year_2011                  5844 non-null   uint8
 57  Year_2012                  5844 non-null   uint8
 58  Year_2013                  5844 non-null   uint8
 59  Year_2014                  5844 non-null   uint8
 60  Year_2015                  5844 non-null   uint8
 61  Year_2016                  5844 non-null   uint8
 62  Year_2017                  5844 non-null   uint8
 63  Year_2018                  5844 non-null   uint8
 64  Year_2019                  5844 non-null   uint8
 65  Fuel_Type_Diesel           5844 non-null   uint8
 66  Fuel_Type_LPG              5844 non-null   uint8
 67  Fuel_Type_Petrol           5844 non-null   uint8
 68  Transmission_Manual        5844 non-null   uint8
 69  Owner_Type_Fourth & Above  5844 non-null   uint8
 70  Owner_Type_Second          5844 non-null   uint8
 71  Owner_Type_Third           5844 non-null   uint8
 72  Seats_4.0                  5844 non-null   uint8
 73  Seats_5.0                  5844 non-null   uint8
 74  Seats_6.0                  5844 non-null   uint8
 75  Seats_7.0                  5844 non-null   uint8
 76  Seats_8.0                  5844 non-null   uint8
 77  Seats_9.0                  5844 non-null   uint8
 78  Seats_10.0                 5844 non-null   uint8
dtypes: float64(5), uint8(74)
memory usage: 650.7 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201 entries, 0 to 1200
Data columns (total 72 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Kilometers_Driven          1201 non-null   float64
 1   Mileage                    1201 non-null   float64
 2   Engine                     1201 non-null   float64
 3   Power                      1201 non-null   float64
 4   Name_BMW                   1201 non-null   uint8
 5   Name_Bentley               1201 non-null   uint8
 6   Name_Chevrolet             1201 non-null   uint8
 7   Name_Datsun                1201 non-null   uint8
 8   Name_Fiat                  1201 non-null   uint8
 9   Name_Ford                  1201 non-null   uint8
 10  Name_Honda                 1201 non-null   uint8
 11  Name_Hyundai               1201 non-null   uint8
 12  Name_ISUZU                 1201 non-null   uint8
 13  Name_Isuzu                 1201 non-null   uint8
 14  Name_Jaguar                1201 non-null   uint8
 15  Name_Jeep                  1201 non-null   uint8
 16  Name_Land                  1201 non-null   uint8
 17  Name_Mahindra              1201 non-null   uint8
 18  Name_Maruti                1201 non-null   uint8
 19  Name_Mercedes-Benz         1201 non-null   uint8
 20  Name_Mini                  1201 non-null   uint8
 21  Name_Mitsubishi            1201 non-null   uint8
 22  Name_Nissan                1201 non-null   uint8
 23  Name_OpelCorsa             1201 non-null   uint8
 24  Name_Porsche               1201 non-null   uint8
 25  Name_Renault               1201 non-null   uint8
 26  Name_Skoda                 1201 non-null   uint8
 27  Name_Tata                  1201 non-null   uint8
 28  Name_Toyota                1201 non-null   uint8
 29  Name_Volkswagen            1201 non-null   uint8
 30  Name_Volvo                 1201 non-null   uint8
 31  Location_Bangalore         1201 non-null   uint8
 32  Location_Chennai           1201 non-null   uint8
 33  Location_Coimbatore        1201 non-null   uint8
 34  Location_Delhi             1201 non-null   uint8
 35  Location_Hyderabad         1201 non-null   uint8
 36  Location_Jaipur            1201 non-null   uint8
 37  Location_Kochi             1201 non-null   uint8
 38  Location_Kolkata           1201 non-null   uint8
 39  Location_Mumbai            1201 non-null   uint8
 40  Location_Pune              1201 non-null   uint8
 41  Year_2002                  1201 non-null   uint8
 42  Year_2003                  1201 non-null   uint8
 43  Year_2004                  1201 non-null   uint8
 44  Year_2005                  1201 non-null   uint8
 45  Year_2006                  1201 non-null   uint8
 46  Year_2007                  1201 non-null   uint8
 47  Year_2008                  1201 non-null   uint8
 48  Year_2009                  1201 non-null   uint8
 49  Year_2010                  1201 non-null   uint8
 50  Year_2011                  1201 non-null   uint8
 51  Year_2012                  1201 non-null   uint8
 52  Year_2013                  1201 non-null   uint8
 53  Year_2014                  1201 non-null   uint8
 54  Year_2015                  1201 non-null   uint8
 55  Year_2016                  1201 non-null   uint8
 56  Year_2017                  1201 non-null   uint8
 57  Year_2018                  1201 non-null   uint8
 58  Year_2019                  1201 non-null   uint8
 59  Fuel_Type_Diesel           1201 non-null   uint8
 60  Fuel_Type_LPG              1201 non-null   uint8
 61  Fuel_Type_Petrol           1201 non-null   uint8
 62  Transmission_Manual        1201 non-null   uint8
 63  Owner_Type_Fourth & Above  1201 non-null   uint8
 64  Owner_Type_Second          1201 non-null   uint8
 65  Owner_Type_Third           1201 non-null   uint8
 66  Seats_4.0                  1201 non-null   uint8
 67  Seats_5.0                  1201 non-null   uint8
 68  Seats_6.0                  1201 non-null   uint8
 69  Seats_7.0                  1201 non-null   uint8
 70  Seats_8.0                  1201 non-null   uint8
 71  Seats_10.0                 1201 non-null   uint8
dtypes: float64(4), uint8(68)
memory usage: 117.4 KB
None

In [6]:
#train 데이터 형성
y = clean_train_data[['Price']].to_numpy() #ndarray 형태로 변경
print(y)
clean_train_data = clean_train_data.drop(columns=['Price'])

[[ 1.75]
 [12.5 ]
 [ 4.5 ]
 ...
 [ 2.9 ]
 [ 2.65]
 [ 2.5 ]]

In [7]:
train_x = makex(clean_train_data)
test_x = makex(clean_test_data)

In [8]:
# 모델링 하기 = 다중선형회귀 사용
lr = LinearRegression(fit_intercept=True,normalize=True,copy_X=True)
lr.fit(train_x,y)

LinearRegression(normalize=True)

In [9]:
print(lr.score(train_x,y)) #성능치 표현 (0~1) 높아지면 좋은 것!

0.8069472191841415

In [10]:
y_predict = lr.predict(test_x)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 78 is different from 72)